body{
    background-color: rgb(156, 156, 255);
    position: static;
}
.para1{
    background-color: blueviolet;
    border: 1px solid;
width: calc(50%/5);
height: 100px;
padding: 70px;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;     
}

